/* line 1, film_lifeapp/static/style/navbar/navbar.sass */
body {
  background: #eee;
  min-height: 3000px;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

/* line 8, film_lifeapp/static/style/navbar/navbar.sass */
.container {
  width: 80%;
  margin: 0 auto;
  clear: both; }

/* line 13, film_lifeapp/static/style/navbar/navbar.sass */
a {
  display: inline-block;
  color: #333;
  text-decoration: none; }

/* line 21, film_lifeapp/static/style/navbar/navbar.sass */
nav {
  background: #fff;
  height: 80px;
  line-height: 80px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s; }
  /* line 32, film_lifeapp/static/style/navbar/navbar.sass */
  nav.scrollUp {
    transform: translateY(-80px); }
  /* line 35, film_lifeapp/static/style/navbar/navbar.sass */
  nav ul.navbar-menu {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right; }
    /* line 41, film_lifeapp/static/style/navbar/navbar.sass */
    nav ul.navbar-menu li {
      display: inline-block;
      margin: 0 10px; }
      /* line 44, film_lifeapp/static/style/navbar/navbar.sass */
      nav ul.navbar-menu li a {
        color: #666;
        font-size: 14px; }
  /* line 48, film_lifeapp/static/style/navbar/navbar.sass */
  nav a#brand {
    text-transform: uppercase;
    foat: left;
    font-weight: 800;
    font-size: 20px; }
  /* line 54, film_lifeapp/static/style/navbar/navbar.sass */
  nav button {
    background: none;
    width: 30px;
    height: 40px;
    margin-top: 20px;
    border: none;
    float: right;
    display: inline-block;
    cursor: pointer;
    display: none; }
    /* line 67, film_lifeapp/static/style/navbar/navbar.sass */
    nav button span {
      width: 30px;
      height: 40px;
      height: 2px;
      background: #333;
      display: block;
      margin: 5px 0; }

@media (max-width: 768px) {
  /* line 78, film_lifeapp/static/style/navbar/navbar.sass */
  nav ul.navbar-menu {
    display: none; }
  /* line 80, film_lifeapp/static/style/navbar/navbar.sass */
  nav button {
    display: block; } }
