{% extends 'index.html' %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contact edit</title>
            {% load static %}
    <link rel="stylesheet" href="{% static 'style/edit.css' %}">
    </head>
    <body>




<h2>CONTACT EDIT:</h2>
    {% for message in messages %}
        <h2 class="center">{{ message }}</h2>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        <div class ='center'>
            <h2>first name</h2>
            {{ form.first_name }}
            <h2>last name</h2>
            {{ form.last_name }}
            <h2>occupation</h2>
            {{ form.occupation }}
            <h2>produciton house</h2>
            {{ form.production_house }}
            <h2>email</h2>
            {{ form.email }}
            <h2>phone</h2>
            {{ form.phone }}
            <h2>notes</h2>
            {{ form.notes }}
            </div>
        <input class="center lightbig" type="submit" value="SAVE">
    </form>



    </body>
    </html>


{% endblock %}