{% extends 'index.html' %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contact Delete</title>
    </head>
    <body>

    <h2>DETAIL OF CONTACT: {{ contact.first_name }} {% if contact.last_name %}{{ contact.last_name }}{% endif %}</h2>


    <ul class="lst" style="font-size: 16px">
        <li>OCCUPATION: {{ contact.occupation }}</li>
        {% for production_house in contact.production_house.all %}
            <li>- {{ production_house.name }}</li>
        {% endfor %}
        <li>EMAIL: {{ contact.email }}</li>
        <li>PHONE: {{ contact.phone }}</li>
        <li>NOTES: {{ contact.notes }}</li>

    </ul>
    <h2 class="center">FOR SURE DELETE THIS CONTACT?</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger center" name="action" value="YES">
        <input type="submit" class="btn btn-danger center" name="action" value="NO">
    </form>


    {% load static %}
    <link rel="stylesheet" href="{% static 'style/delete.css' %}">

    </body>
    </html>
{% endblock %}