{% extends 'index.html' %}
{% block content %}

    <p class="generated-text">DETAIL OF PROJECT: {{ day_of_work.project.name}}</p>


    <ul class="lst" style="font-size: 16px">
        <li>Occupation: {{ day_of_work.project.occupation }}</li>
        <li>Rate: {{ day_of_work.project.daily_rate }}</li>
        <li>Overhours: {{ day_of_work.project.type_of_overhours }} %</li>
        <li>Date of create: {{ day_of_work.project.date_created.date }}</li>
        <li>Notes: {{ day_of_work.project.notes }}</li>
    </ul>
    <h2 class="center">FOR SURE DELETE THIS WORK DAY?</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger center" name="action" value="YES">
        <input type="submit" class="btn btn-danger center" name="action" value="NO">
    </form>





    {% load static %}
    <link rel="stylesheet" href="{% static 'project-days/style.css' %}">
    <script src="{% static 'project-details-add-day/javascript.js' %}"></script>
{% endblock %}