<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FILM LIFE APP</title>

    {% load static %}


    {########LADOWANIE SASS I SCSS#}
    {#{% load compress %}{% compress css %}#}
    {#    <link type="text/x-scss" href="{% static 'style/navbar/navbar.sass' %}" rel="stylesheet" media="screen">#}
    {#{% endcompress %}#}

    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
    <script src="{% static 'navbar/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'jQuery 3.7.1.js' %}">
    </script>
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  <----JQUERY Z NETA#}


</head>
<body>


<section class="navigation">
    <div class="nav-container">
        <div class="brand">

            <a href="{% url 'main' %}">Film life</a>
        </div>

        <nav>
            <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">

                <li>
                <li>
                    <a href='#!'>Projects</a>
                    <ul class="navbar-dropdown">
                        <li>
                            <a href="{% url 'project-list' %}">Projects List</a>
                        </li>
                        <li>
                            <a href="{% url 'project-add' %}">Project Add</a>
                        </li>
                        <li>
                            <a href="{% url 'icalendar' %}">iCalendar converter</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!">Production Houses</a>
                    <ul class="navbar-dropdown">
                        <li>
                            <a href="{% url 'productions-list' %}"> Production Houses List </a>
                        </li>
                        <li>
                            <a href="{% url 'production-add' %}"> Add Production House </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!">Contacts</a>
                    <ul class="navbar-dropdown">
                        <li>
                            <a href="{% url 'contacts-list' %}"> Contacts List </a>
                        </li>
                        <li>
                            <a href="{% url 'contacts-add' %}"> Add Contacts </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href='{% url 'search' %}'>Search</a>
                </li>
                <li>
                    <a href='#!'>User</a>
                    <ul class="navbar-dropdown">
                        <li>
                            <a href="{% url 'login-user' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'logout-user' %}">Logout</a>
                        </li>
                        <li>
                            {% if user.is_authenticated %}
                                <a href="{% url 'edit-user' pk=request.user.pk %}">Edit</a>
                            {% else %}
                                <a href="{% url 'register-user' %}">Register</a>
                            {% endif %}
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</section>
{% if user.is_authenticated %}
    Welcome : {{ user.username }}
{% endif %}
<div>
    {% block content %}

        {% if not user.is_authenticated %}
            <h2 class="center">Welcome to Film life calc, you time on set calculator</h2>
            <br>
            <p class="center">You need to create account at USER tab to get full expperience of out app</p>
            <h2>LASTED UPDATED PROJECT: Example project name</h2>
            <ul class="lst" style="font-size: 16px">
                <li>Occupation: Example occupation</li>
                <li>Rate: Example daily rate</li>
                <li>Overhours: Example overhours %</li>
                <li>Date of create: Example date</li>
                <li>Notes: Example Notes</li>
                <li>Production House: Example production name</li>
            </ul>
        {% else %}




            {% if last_project %}
                <h2>LASTED UPDATED PROJECT: {{ last_project.project.name }}</h2>
                <ul class="lst" style="font-size: 16px">
                    <li>Occupation: {{ last_project.project.occupation }}</li>
                    <li>Rate: {{ last_project.project.daily_rate }}</li>
                    <li>Overhours: {{ last_project.project.type_of_overhours }} %</li>
                    <li>Date of create: {{ last_project.project.date_created }}</li>
                    <li>Notes: {{ last_project.project.notes }}</li>
                    <li>Production House: {{ last_project.project.production_house.name }}</li>
                    <li>Worked days in project: {{ workdays }}</li>
                </ul>
            {% endif %}




            {% if last_project != None %}
                <h3 class="center">IF theres a project choosen above start couting your work time !</h3>
                <form class="center" method="post">
                    {% csrf_token %}
                    {% if button_select == True %}
                        <button class="dark" type="submit" name="start-bt" class="darkbig" value="start">START</button>
                    {% elif button_select == False %}
                        <button class="light" type="submit" name="stop-bt" value="stop">STOP</button>
                    {% endif %}
                </form>
            {% else %}
                <h3 class="center"> YOU NEED TO ADD PROJECT AND ADD AT LEAST ONE DAY TO USE THIS FUNCTION</h3>
            {% endif %}
            </div>
            <div class="chart">
            {% if chart %}
                <img  src="data:image/png;base64, {{chart|safe}}">
            {% endif %}

            </div>
        {% endif %}


 <link rel="stylesheet" href="{% static 'style/add.css' %}">
    {% endblock %}

</body>
</html>








































