{% extends 'index.html' %}

{% block content %}


    <h2>UPLOAD PDF</h2>
    <br></br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.project_name.label_tag }}<br>
        {{ form.project_name }}


        <input type="file" name="pdf_file" id="pdf_file" class="file-input" style="visibility: hidden">
        <br>
        <label id="custom-button" for="pdf_file" class="file-label darkbig center">Choose PDF file</label>
        <span id="custom-text" class="center"> No file chosen, yet.</span><br>

        <button class="darkbig center" type="submit">Upload</button>
    </form>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style/edit.css' %}">

    <script src="{% static 'pfd_to_icalendar/pdf_to_icalendar.js' %}"></script>

{% endblock %}
