{% extends 'index.html' %}
{% block content %}

    <h2>DETAIL OF PRODUCTION HOUSE: {{ productionhouse.name }}</h2>


    <ul class="lst" style="font-size: 16px">
        <li>NIP: {{ productionhouse.nip }}</li>
    <li>ADDRES: {{ productionhouse.address }}</li>
    <li>EMAIL: {{ productionhouse.email }}</li>
    <li>RATE: {{ productionhouse.get_rating_display }}</li>
    <li>NOTES: {{ productionhouse.notes }}</li>

    </ul>
    <h2 class="center">FOR SURE DELETE THIS PRODUCTION HOUSE?</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger center" name="action" value="YES">
        <input type="submit" class="btn btn-danger center" name="action" value="NO">
    </form>





    {% load static %}
    <link rel="stylesheet" href="{% static 'style/delete.css' %}">

{% endblock %}