{% extends 'index.html' %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Prodcuin house add</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style/add.css' %}">
    </head>
    <body>
    <ul class="lst">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <h2>
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    </h2>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <h2>PRODUCTION HOUSE ADD:</h2>

            {{ form }}
            <input class="center lightbig" type="submit" value="ADD">

        </form>


    </body>
    </html>




{% endblock %}