{% extends 'index.html' %}
{% load widget_tweaks %}
{% block content %}

    {% for message in messages %}
        <h2 class="center">{{ message }}</h2>
    {% endfor %}
    <p class="generated-text">PRODUCTION HOUSE TO EDIT:</p>
    <form method="POST">
    {%  csrf_token %}
    {% render_field form.name class="center" value="{{ form.name }}" placeholder="Enter name"%}
    {% render_field form.nip class="center" placeholder="Enter NIP"%}
    {% render_field form.address class="center" placeholder="Enter adress" %}
    {% render_field form.email class="center" placeholder="Enter email"%}
    {% render_field form.rating class="center" placeholder="Enter rating"%}
    {% render_field form.notes class="center" placeholder="Enter notes"%}
    <input type="submit" value="edit" class="center">
        </form>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/projects/style.css' %}">
    {#    <script src="{% static 'days-edit/days-edit.js' %}"></script>#}
{% endblock %}