{% extends 'index.html' %}

{% block content %}

    <h2>LIST OF PRODUCTION HOUSES:</h2>
    <ul class="lst">
    {% if messages %}
        <ul>
            {% for message in messages %}
                <h2>
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                </h2>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>NO:</th>
                <th>NAME:</th>
                <th>Nip:</th>
                <th>Address:</th>
                <th>Contacts:</th>
                <th>Email:</th>
                <th>Rate:</th>
                <th>Notes:</th>
                <th>Projects:</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
            </thead>
            <tbody>
            {% for prod in prod_houses %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ prod.name }}</td>
                    <td>{{ prod.nip }}</td>
                    <td>{{ prod.address }}</td>
                    <td>{% for contact in prod.contact_set.all %}
                        <br><a href="/contacts-list/">{{ contact.first_name }} {{ contact.last_name }}</a>
                    {% endfor %}</td>
                    <td>{{ prod.email }}</td>
                    <td>{{ prod.get_rating_display }}</td>
                    <td>{{ prod.notes }}</td>
                    <td>{% for project in prod.project_set.all %}
                        <br><a href={% url 'workdays-list' pk=project.pk %}>- {{ project.name }}</a>
                    {% endfor %}</td>
                    <td>
                        <a href="{% url 'production-edit' pk=prod.pk %}" id="edit">
                            <button>edit</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'production-delete' pk=prod.pk %}" id="delete">
                            <button>delete</button>
                        </a>
                    </td>

                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>



    {% load static %}
    <link rel="stylesheet" href="{% static 'list-style/lists.css' %}">
    <script src="{% static 'project-details-add-day/javascript.js' %}"></script>
{% endblock %}

