{% extends 'index.html' %}
{% load widget_tweaks %}
{% block content %}

    {% for message in messages %}
        <h2 class="center">{{ message }}</h2>
    {% endfor %}
    <h2>PRODUCTION HOUSE TO EDIT:</h2>
    <form method="POST">
        {% csrf_token %}
        <h2 class="center">NAME: </h2>
        {% render_field form.name class="center" value="{{ form.name }}" placeholder="Enter name" %}
        <h2 class="center">NIP: </h2>
        {% render_field form.nip class="center" placeholder="Enter NIP" %}
        <h2 class="center">ADDRESS: </h2>
        {% render_field form.address class="center" placeholder="Enter adress" %}
        <h2 class="center">EMAIL: </h2>
        {% render_field form.email class="center" placeholder="Enter email" %}
        <h2 class="center">RATINGS: </h2>
        {% render_field form.rating class="center" placeholder="Enter rating" %}
        <h2 class="center">NOTES: </h2>
        {% render_field form.notes class="center" placeholder="Enter notes" %}
        <input class="center lightbig" type="submit" value="EDIT">
    </form>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/edit.css' %}">

{% endblock %}