{% extends 'index.html' %}
{% block content %}


    <h2>ADD PROJECT:</h2>
    <form method="POST">
        {% csrf_token %}
        {% for message in messages %}
            <h2 class="center">{{ message }}</h2>
        {% endfor %}
    {{ form }}
        <input class="lightbig center" type="submit" value="ADD">

    </form>
    <br>
    <br>
    {% if projects %}
        {% for project in projects %}


            <li class="lst">

                <strong>Name:</strong> {{ project.name }}
                <strong>Oc:</strong> {{ project.occupation }}
                <strong>Notes:</strong> {{ project.notes }}
                <strong>Rate:</strong> {{ project.daily_rate }}
                <strong>Over:</strong> {{ project.type_of_overhours }}
                <strong>Date of create:</strong> {{ project.date_created.date }}
                <a href="{% url 'workdays-add' pk=project.pk %}">
                    <button class="dark" id="add_days">ADD DAYS</button></a>
                <a href="{% url 'workdays-list' pk=project.pk %}">
                    <button class="dark" id="see_days">SEE DAYS</button></a>
                <a href="{% url 'project-edit' pk=project.pk %}">
                    <button class="dark" id="edit_project">EDIT</button></a>
                <td><a href="{% url 'project-delete' pk=project.pk %}"><button class="dark" id="delete_project">DELETE</button></a>
                </td>
            </li>

        {% endfor %}
    {% endif %}



    {% load static %}
    <link rel="stylesheet" href="{% static 'style/add.css' %}">
{% endblock %}