{% extends 'index.html' %}

{% block content %}

<h2>WORKDAYS : {{ project.name }}</h2>
    <div>
        <ul class="lst">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>NO:</th>
            <th>NAME:</th>
            <th>Oc:</th>
            <th>Notes:</th>
            <th>Rate:</th>
            <th>Earned:</th>
            <th>Overtime type:</th>
            <th>Date of create:</th>
            <th>Production:</th>
            <th>ADD</th>
            <th>SEE</th>
            <th>EDIT</th>
            <th>DELETE</th>
            <th>SUMMARY</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.occupation }}</td>
                <td>{{ project.notes }}</td>
                <td>{{ project.daily_rate }}</td>
                <td>{{ project.total_earnings_for_project }}</td>
                <td>{{ project.type_of_overhours }}</td>
                <td>{{ project.date_created.date }}</td>
                <td><a href="/productions-list/">{{ project.production_house.name }}</a></td>
                <td>
                    <a href="{% url 'workdays-add' pk=project.pk %}">
                        <button class="light" id="project_details">ADD DAYS</button>
                    </a>
                    </a>
                </td>
                <td><a href="{% url 'workdays-list' pk=project.pk %}">
                    <button class="dark id="add_days">SEE DAYS</button>
                </a></td>
                <td><a href="{% url 'project-edit' pk=project.pk %}">
                    <button class="light" id="edit_project">EDIT</button>
                </a></td>
                <td><a href="{% url 'project-delete' pk=project.pk %}">
                    <button class="dark"  id="delete_project">DELETE</button>
                </a></td>
                </a></td>
                <td><a href="{% url 'create-pdf' pk=project.pk %}">
                    <button class="light" id="print_project">DOWNLOAD</button>
                </a></td>
            </tr>
        {% endfor %}

        <tbody>
    </table>
</div>


        {% load static %}
    <link rel="stylesheet" href="{% static 'style/lists.css' %}">
{% endblock %}



