{% extends 'index.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'project-edit/style.css' %}">


    <p class="generated-text">LIST OF PROJECT:</p>
    <div>
        <ul class="lst">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


            <div style="display: inline-block;">
                <table class="table_component ">
                    <tbody>
                    <tr>
                        <td>NO:</td>
                        <td>NAME:</td>
                        <td>Oc:</td>
                        <td>Notes:</td>
                        <td>Rate:</td>
                        <td>Over:</td>
                        <td>Date of create:</td>
                        <td>Production:</td>
                        <td>ADD</td>
                        <td>SEE</td>
                        <td>EDIT</td>
                    </tr>

                    {% for project in projects %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ project.name }}</td>
                            <td>{{ project.occupation }}</td>
                            <td>{{ project.notes }}</td>
                            <td>{{ project.daily_rate }}</td>
                            <td>{{ project.type_of_overhours }}</td>
                            <td>{{ project.date_created.date }}</td>
                            <td>{{ project.production.name }}</td>
                            <td>
                                <a href="{% url 'project-details' id=project.id %}">
                                    <button id="project_details">Add days</button>
                                </a>
                                </a>
                            </td>
                            <td><a href="{% url 'project-days' id=project.id %}">
                                <button id="add_days">See days</button>
                            </a></td>
                            <td><a href="{% url 'project-edit' id=project.id %}">
                                <button id="edit_project">edit</button>
                            </a></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <!-- PAGINATOR DO WYSWIETLANIA ILOSC STRON Z DNIAMI PRACY --->

            {% if daysofwork.has_previous %}
                <a href="?page={{ daysofwork.previous_page_number }}">< back </a>
            {% endif %}
            {% for num in daysofwork.paginator.page_range %}
                {% if num == daysofwork.number %}
                    <span style="text-decoration: underline;">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}">| {{ num }} |</a>
                {% endif %}
            {% endfor %}
            {% if daysofwork.has_next %}
                <a href="?page={{ daysofwork.next_page_number }}"> next > </a>
            {% endif %}
    </div>
{% endblock %}



