{% extends 'index.html' %}
{% block content %}

    <h2>NAME OF PROJECT: {{ project.name }}</h2>


    <ul class="lst" style="font-size: 16px">
        <li>Occupation: {{ project.occupation }}</li>
        <li>Rate: {{ project.daily_rate }}</li>
        <li>Overhours: {{ project.type_of_overhours }} %</li>
        <li>Date of create: {{ project.date_created.date }}</li>
        <li>Notes: {{ project.notes }}</li>
        <li>Production House: {{ project.production.name }}</li>
    </ul>
    <h2 class="center">FOR SURE DELETE THIS PROJECT?</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger center" name="action" value="YES">
        <input type="submit" class="btn btn-danger center" name="action" value="NO">
    </form>





    {% load static %}
    <link rel="stylesheet" href="{% static 'style/delete.css' %}">
    <script src="{% static 'project-details-add-day/javascript.js' %}"></script>
{% endblock %}