{% extends 'index.html' %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Edit</title>

</head>
<body>

<h2>EDIT PROJECT</h2>
<form method="POST">
    {% csrf_token %}
    {% for message in messages %}
    <h2 class="center">{{ message }}</h2>
    {% endfor %}
    <h2>NAME OF PROJECT<input class='center' type='text' name="name"
                                                    value="{{ project.name }}"></h2>
    <h2>DAILY RATE<input class='center' type='number' name="daily_rate"
                         value="{{ project.daily_rate }}"></h2>
    <h2>TYPE OF OVERHOURS
        <select class="center" name="type_of_overhours">
            <option value="10">10%</option>
            <option value="15">15%</option>
            <option value="progresive">progresive</option>
        </select></h2>
    <h2>OCCUPATION<input class='center' type='text' name="occupation"
                         value="{{ project.occupation }}"></h2>
    <h2>NOTES<textarea class='center' rows="5" cols="25" name="notes">{{ project.notes }}</textarea></h2>
    <h2>PRODUCTION HOUSE
        <select class="center" name="production">
            <option value="{{ project.production_house.id }}" selected>{{ project.production_house.name }}</option>
            {% for production in productions %}
                {% if production != project.production_house %}
            <option value="{{ production.id }}">{{ production.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </h2>
    <input class="center lightbig" type="submit" value="SAVE">

</form>




    {% load static %}
<link rel="stylesheet" href="{% static 'style/edit.css' %}">
</body>
</html>



{% endblock %}