{% extends 'index.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'search/style.css' %}">


    <p class="generated-text">SEARCH BY DATE</p>
    <div>
        <ul class="lst">
            <a href="{% url 'search' %}"><input type="submit" value="BACK"></a>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="POST" id="BY_DATE">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="SEARCH">
            </form>
            {% if search_dates %}
                {% for date in search_dates %}
                    <li>
                        <a href="{% url 'workdays-edit' pk=date.pk %}">{{ date.date }}</a>
                        <a href="{% url 'workdays-list' pk=date.project_id %}">{{ date.project.name }}</a>
                        OVERHOURS : {{ date.amount_of_overhours }}</li>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}



