{% extends 'index.html' %}
{% block content %}

    <ul class="lst">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <h2>
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    </h2>
                {% endfor %}
            </ul>
        {% endif %}
    </ul>
    <h2>WORK DAY DATE: {{ workday.date }}</h2>

    <ul class="lst" style="font-size: 16px">
        <li>Project : {{ workday.project.name }}</li>
        <li>Occupation: {{ workday.project.occupation }}</li>
        <li>Rate: {{ workday.project.daily_rate }}</li>
        <li>Overhours: {{ workday.project.type_of_overhours }} %</li>

        <li>Date of create: {{ workday.project.date_created.date }}</li>
        <li>Notes: {{ workday.project.notes }}</li>
    </ul>
    <form method="POST">
        {% csrf_token %}
        <h2>DAY TO EDIT:</h2>
        {{ form }}


        <button class="center edit lightbig" type="submit" name="add_day" value="add_day">SAVE</button>
    </form>


    {% load static %}
    <link rel="stylesheet" href="{% static 'style/edit.css' %}">
    <script src="{% static 'javascript/edit_pages.js' %}"></script>
{% endblock %}