
.generated-text {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bold;
    line-height: 20px;
    color: #ffffff;
    background: linear-gradient(45deg, #4199fe, #74b4fe);
    text-align: center;
}

ul.lst {
    text-align: center;
    padding-inline-start: 0;
}

ul.lst li {

    font-size: 24px;
    list-style: none;
}

ul.lst li strong {
    font-weight: 900;
    color: wheat;
}

input[type=text] {

    width: 350px;
    padding: 8px 12px;
    box-sizing: border-box;
}



textarea {
    width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #74b4fe;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 350px;
}
.center {
    display: block;
    justify-content: center;
    align-items: center;
    width: 350px;
    text-align: center;
    margin: 10px auto;
    padding: 12px 20px;
    box-sizing: border-box;



}







