
.generated-text {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bold;
    line-height: 20px;
    color: #ffffff;
    background: linear-gradient(45deg, #4199fe, #74b4fe);
    text-align: center;
}

ul.lst {
    text-align: center;
    padding-inline-start: 0;
}

ul.lst li {

    font-size: 24px;
    list-style: none;
}

ul.lst li strong {
    font-weight: 900;
    color: wheat;
}

input[type=text] {

    width: 350px;
    padding: 8px;
    box-sizing: border-box;
}


textarea {
    width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #74b4fe;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 350px;
}

.centertext {
    display: block;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align: center;
    margin: 10px auto;
    padding: 12px;
    box-sizing: border-box;
}


.center {
    display: block;
    justify-content: center;
    align-items: center;
    width: 350px;
    text-align: center;
    margin: 10px auto;
    padding: 12px 20px;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 2px 0;
    margin: 2px 2px 2px 2px;
}

body {
    -webkit-font-smoothing: antialiased;

}

/* Table Styles */

.table-wrapper {
    margin: 5px 30px 70px 0px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: normal;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #6AAFE6;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #3f76b7;
}

.fl-table tr:nth-child(even) {
    background: #eceaea;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally, use arrow or shift + mouse wheele >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }

    .fl-table thead th:last-child {
        border-bottom: none;
    }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 80px;
        font-size: 12px;

        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}


.dark {
    background-color: #3f76b7;
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 60px;
    font-weight: 500;
}

.light {
    background-color: #3f76b7;
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 60px;
    font-weight: 500;
}

.lightbig {
    background-color: #4f9dee;
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    width: 350px;
}

