
ul.lst {
    text-align: center;
    padding-inline-start: 0;
}

ul.lst li {

    font-size: 24px;
    list-style: none;
}

ul.lst li strong {
    font-weight: 900;
    color: wheat;
}

input[type=text] {

    width: 350px;
    padding: 8px 12px;
    box-sizing: border-box;
}


textarea {
    width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


.center {
    display: block;
    justify-content: center;
    align-items: center;
    width: 350px;
    text-align: center;
    margin: 2px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 2px 0;
}

.lightbig {
    background-color: #4f9dee;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    width: 350px;
    margin-top: 15px;
}


.darkbig {
    background-color: #3f76b7;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    width: 350px;
}


form label {
    font-weight: 600;
    font-size: 24px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 12px;
    margin-bottom: 12px;
}

form input[name=daily_rate] {
    width: 326px;
    padding: 12px;


}

form input {
    display: block;
    margin: 0 auto;
    padding: 12px;
    width: 350px;
    text-align: center;
}


form select {
    display: block;
    padding: 12px;
    margin: 0 auto;
    width: 350px;
    text-align: center;
}

form textarea {
    display: block;
    margin: 0 auto;
}


form input[type='date'] {
    padding: 12px;
    width: 326px;
}

form input[type='number'] {
    padding: 12px;
    width: 326px;
}

/*====================================================*/

.project-name-input {
    border: 1px solid #000;
    padding: 5px;
}

.file-input {
    display: none; /* Ukryj domyślny input */
}

.file-label.darkbig {
    background-color: #4f9dee;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.file-label.darkbig:hover {
    background-color: #3b7bbb;
}

.upload-button {
    background-color: #4f9dee;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.upload-button:hover {
    background-color: #3b7bbb;
}